.task-management__title,
.task-management__desc,
.task-management__status {
  flex: 1;
}
.task-management__actionBtns {
  flex-basis: 200px;
}
.task-management__list {
  padding: 5px;
  min-height: 60px;
  border-bottom: 1px solid var(--bs-border-color);
  align-items: center;
}
.task-management__list:first-child {
  padding-left: 15px;
}

.task-management__list:last-child {
  border: 0;
}
.task-management__actionBtns * {
  cursor: pointer;
}
