.task-management__title {
  width: 25%;
}
.task-management__list {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--bs-border-color);
}
.task-management__list:last-child {
  border: 0;
}
.task-management__actionBtns * {
  cursor: pointer;
}
